html{background:#eee;font-weight:700;}
.margin-top{margin-top:20vh;}.margin-top-min{margin-top:5vh;}
.imagen{max-width:50%;display:block;margin:auto;}.image-nav{max-width:70px;display:block;margin:auto;}
.session-nav{text-transform:uppercase!important;}
